/********** Layout & Spacing ********************/ 

.blog-card{
	height: 100%;
	width: 100%;
	/* overflow:hidden; */
	border:1px solid black;
	display:flex;
	flex-direction:column;
	overflow:hidden;
	margin:0;
	padding:0;

	header{
		display:block;
		height:55%;
		width:100%;
		overflow:hidden;
		margin:0;
		padding:0;
		position:relative;
		.blog-card-image-container{
			display:block;
			height:85%;
			width:100%;
			margin:0;
			padding:0;
		}
		.post-metadata-bar{
			position:relative;
			top:5%;
			height:10%;
			width:auto;
			margin:0;
			padding:0 5% 0 5%;
		}
	}

	.blog-card-body{
		display: flex;
		flex-direction: column;
		height:35%;
		max-height:35%;
		overflow: hidden;
		width:auto;
		margin:0;
		padding:0 5% 0 5%;

		.blog-card-title{
			position:relative;
			top:5%;
			width:100%;
			padding:0;
			margin:0;
			display: block;
		}

		.blog-card-excerpt{
			flex-grow:1;
			flex-shrink:1;
			position:relative;
			top:10%;
			height:auto;
			width:100%;
			padding:0;
			margin:0;
			display: block;
		}
	}	

	footer{
		flex-shrink:1;
		height:10%;
		width:100%;
		margin:0;
		padding:0;
		position: relative;

		.post-social{
			display: block;
			width:auto;
			padding:0 5% 0 5%;
			margin:0;
			position: absolute;
			bottom:20%;
		}
	}
}


.post-metadata-bar{
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	position:relative;
	.post-metadata{
		margin:0;
		padding:0;
		display:block;
		overflow:hidden;
		.metadata-categories,
		.metadata-tags {
			margin:0;
			padding:0;
			display:inline;
			a{
				display:inline-block;
			}
		}
	}
	.post-date{
		margin:0;
		margin-left:1rem;
		padding:0;
		width:30%;
		display:block;
	}
}


/********** Resets ********************/ 


.blog-card-title {
	h3{
		margin:0;
		padding:0;
	}
}

.clamped-text-container{
	p{
		margin:0;
		padding:0;
	}
}

.share-link{
	margin-right:0.5rem;
	width:35px;
	height:35px;
	display:inline-block;
	text-align:center;

	i{
		padding:7px;
		height:100%;
		width:100%;
	}
}

/********** Decoration ********************/ 

.post-metadata-bar{
	font-size:0.85rem;
}

.blog-card-title{
	color: #000000;
	text-decoration: none;
	&:hover{
		text-decoration: none;
		color: #66b3ff;
	}
	font-size:1.5rem;
}

.metadata-categories a,
.metadata-tags a{
	text-decoration: none;
	border-radius:32px;
	padding:0.3rem;
	margin-bottom: 1rem;
}

.metadata-categories a{
	background-color:red;
	color: #ffffff;
}

.metadata-tags a{
	background-color:green;
	color: #ffffff;
}

.post-date{
	text-align:left;
}

.share-link {
	text-decoration: none;
	color:#ffffff;
	font-size:14px;
	&:visited{
		color:#ffffff;
	}
	&:hover{
		color:#ffffff;
	}
	i{
		background-color:rgb(59, 59, 194);
		border:5px solid rgb(43, 43, 143);
		border-radius:32px;
		&:hover{
			background-color:rgb(211, 29, 59);
			border:5px solid rgb(68, 14, 14);
		}
	}
}