div.video-ribbon.u3{
	padding:0.5rem;
}

div.video-ribbon.u2{
	padding:2.5rem;
	background-color:#A3CFCD;
}

div.video-ribbon.u1{
	padding:1rem;
	background-color:#82A0AA;
}

div.video-ribbon.l1{
	padding:0.5rem;
	background-color:#4B4A54;
}

div.ribbon.p1{
	width:100%;
	background-color:#56adba;
	padding: 1.2rem;
}

div.ribbon.p2{
	width:100%;
	background-color:#A3CFCD;
	padding:1.6rem;
}