div.page-header-box div.empty-container{
	height:6rem;
}

input#searchbar{
	border-radius:0;
	padding:1rem;
}

div.searchbar-container{
	padding-top:1.5rem;
}

button.search-submit-button{
	border-radius:0;
}

div.button-col{
	padding-left:2rem;
	padding-right:1rem;
}

div.checkbox-container span{
	font-weight:bold;
}