
/********** Outer structure ********************/ 

.video-post{
	display:flex;
	flex-direction:column;
	padding:0;
	margin:0;
	height:100%;
	width:100%;

	.video-container{
		flex-shrink:1;
		margin:0;
		flex-basis:50%;
		width:100%;
	}

	.video-post-and-social{
		flex-grow:1;
		padding:1rem 0 0.5rem 0;
		margin:0;
		flex-basis:40%;
		width:100%;
	}
}

@media (min-width: 768px) {
	.video-post{
		display:flex;
		flex-direction:row;
		justify-content: space-evenly;
	
		.video-container{
			width:auto;
			flex-basis:60%;
			height:100%;
			margin:0;
			padding:0 2rem 0 2rem;
		}
	
		.video-post-and-social{
			width:auto;
			flex-basis:40%;
			height:100%;
			display:flex;
			flex-direction:column;
			flex-grow:0;
			margin:0;
			padding:2rem 1rem 0 0;
		}
	}
}

/********** Embedded Video Structure ********************/ 

.video-container{
	padding:0;
	display: block;

	iframe{
		width:100%;
		height:100%;
	}
}


@media (min-width: 768px) {
	.video-container{
		position:relative;
		iframe{
			position:relative;
			top:10%;
			height:80%;
		}
	}
}


/********** Post Text Structure ********************/ 


.video-post-and-social{

	display:flex;
	flex-direction:column;
	overflow:hidden;

	.video-post-body{
		display:block;
		flex-grow:1;
		width:auto;
		padding:0 5% 0.5rem 5%;
		height:80%;
		overflow:hidden;

		.video-post-content{
			height:80%;
		}
	}

	footer{
		flex-shrink:1;
		height:10%;
		width:100%;
		margin:0;
		padding:0;
		position: relative;

		.post-social{
			display: block;
			width:auto;
			padding:0 5% 0 5%;
			margin:0;
			position: absolute;
			bottom:20%;
		}
	}
}


/********** Decoration  ********************/ 


.video-post{
	background-color:#2A272A;
	color:#d4c4b1f7;
	.video-post-title{
		color:#d4c4b1f7;
		text-decoration: none;
		&:visited{
			color:#d4c4b1f7;
			text-decoration:none;
		}
		&:hover{
			color:rgb(102, 68, 46);
			text-decoration: none;
		}
	}
}