.front-page-container{
	min-height:100vh;
	height:100%;
	width:100%;
	padding:0;
	margin:0;

	.about-section{
		width:100%;
		min-height:100vh;
	}

	.services-section{
		width:100%;
	}

	.places-section{
		width:100%;
		padding:0;
		margin:0;
		.place-post-container{
			width:100%;
			padding:0.2rem;
			.place-tabcontent{
				height:20rem;
			}
		}
	}

	.video-section{
		.video-post{
			.video-container{
				height:20rem;
			}
			.video-post-content{
				max-height:20rem;
				padding:0 0 2rem 0;
			}
		}
	}

	.blog-section{
		.preview-post-wall{
			overflow-y:hidden;
		}
	}

	.form-section{
		display:block;
		max-height:120vh;
		.appform-header{
			width:auto;
			padding:2rem 2rem 0 2rem;
			margin:0;
			display:flex;
			flex-direction:column;
			justify-content: space-around;
			text-align:left;
			.appform-header-title{
				display:block;
				width:100%;
			}
			.appform-header-subtext{
				display:block;
				width:100%;
			}
		
		}
		.appform-container{
			width:100%;
			margin:0;
		}
	}

	.section-header{
		min-height: 6rem;
		text-align: center;
		padding: 1rem 0 1rem 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}

.about-section{
	display:flex;
	flex-direction:column;
	justify-content: flex-end;
	.about-container{
		margin: 1rem 0 2rem 0;
		min-height: 20vh;
		padding: 0 1.5rem 0 1.5rem;
		display:flex;
		flex-direction: column;
		.about-title{
			margin:0 0 1.5rem 0;
		}
		.about-text{
			flex-grow:1;
		}
	}
}

.service-card-grid{
	display:block;
	padding:1rem;
	margin:auto;
	.service-card-col{
		padding:0.5rem;
		margin:0;
		.service-card{
			min-height:20rem;
		}
	}
}

.page-container{
	.page-section{
		width:100%;
	}
}

@media (min-width: 768px) {
	.front-page-container{

		.about-section{
			min-height:60vh;
		}

		.places-section{
			.place-post-container{
				height:60vw;
				padding:2rem;
			}
		}

		.video-section{
			.video-post{
				height:50vw;
				.video-container{
					height:100%;
				}
				.video-post-content{
					max-height:100%;
					padding:0 0 2rem 0;
				}
			}
		}
		.form-section{
			.appform-header{			
				padding:1rem 0 1rem 0;
				text-align:center;
				.appform-header-title{
					display:block;
					width:60%;
					margin:auto;
				}
				.appform-header-subtext{
					display:block;
					width:60%;
					margin:auto;
				}
			}
			.appform-container{
				width:60%;
				margin:auto;
			}
		}
	}
}

@media (min-width: 992px) {
	.front-page-container{
		.places-section{
			.place-post-container{
				height:45vw;
				padding:2rem;
			}
		}

		.blog-section{
			.preview-post-wall{
				.posts-container{
					width:100%;
					max-width: 100%;
					padding:4.5rem;
				}
			}
		}

		
		.form-section{
			display:flex;
			flex-direction: row;
			justify-content: center;
			.appform-header{
				padding:0;
				text-align: center;
				width:50%;
				justify-content: center;
				.appform-header-title{
					position:relative;
					left:5%;
					margin:0 auto 2rem auto;
				}
				.appform-header-subtext{
					position:relative;
					left:5%;
					margin:0 auto 0 auto;
				}
			}
			.form-container{
				width:50%;
				margin:0;
				padding:1rem;
			}
			
			.appform-container{
				width:100%;
			}
		}
	}
}


@media (min-width: 1200px) {
	.front-page-container{
		.about-section{
			min-height:85vh;
		}

		.places-section{
			.place-post-container{
				height: 29vw;
				padding: 2rem 0 2rem 0;
				width: 60%;
				margin: auto;
			}
		}

		.video-section{
			.video-post{
				height: 30vw;
				width: 60%;
				margin: auto;
				.video-container{
					padding-left:0;
				}

				.video-post-and-social{
					display:flex;
					flex-direction: column;
					justify-content: center;
				}
				.video-post-body{
					height:auto;
					min-height: 60%;
					flex-grow:0;
					margin:0 0 2rem 0;
				}
				.video-post-content{
					height:70%;
				}
			}
		}

		.blog-section{
			.preview-post-wall{
				width: 60%;
				margin: auto;
				.posts-container{
					padding: 2rem 0 6rem 0;
				}
			}
		}

		.form-section{
			width:100%;
			padding:3rem 0 3rem 0;
			.appform-header{
				width:25%;
				text-align: left;
				justify-content: flex-start;
				padding:2rem 0 0 1.5rem;
				.appform-header-title{
					position:static;
					margin:0 0 1rem 0;
				}
				.appform-header-subtext{
					position:static;
					margin:0;
				}
			}
			.form-container{
				width:35%;
			}
		}


	}

	.service-card-grid{
		width: 60%;
		max-width: 60%;
		padding:1rem 0 1rem 0;
		margin: auto;
	}

	.about-section{
		.about-container{
			margin: 1rem auto 2rem auto;
			width:60%;
		}
	}
}




/********** Decoration ********************/ 

.front-page-container{
	background-color:rgb(191, 236, 253);

	.about-section{
		background-color:#498595;
		background-image: url("/wordpress/wp-content/themes/doctor/images/about.jpg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		color:white;
		.about-title{
			font-size:2rem;
		}
		.about-text{
			font-size:1.2rem;
		}
	}

	.video-section{
		background-color: #2a272b;
	}

	.section-header{
		background-color: #21216d;
		color:white;
		.section-title{
			font-size:2rem;
		}
	}
}

.services-section{
	.service-card{
		background-color:white;
		.service-card-title{
			font-size:1.2rem;
		}

		.service-card-body{
			ul{
				padding:0 0 0 0.6rem;
			}
		}
		.service-card-text{
			font-size:0.9rem;
		}
	}
}

.places-section{
	.place-post{
		background-color:white;
		border:3px solid rgb(36, 3, 184);

		.place-header{
			padding:0.8rem 0 0 0;
			flex-basis: 30%;
		}

		.place-title{
			h3{
				font-size:1.5rem;
			}
		}

		.place-tabs{
			min-height:1.5rem;
			margin:0 0 0.5rem 0;
			padding:0 0 0.5rem 0;
			button{
				font-size: 0.9rem;
				padding: 0.3rem 0.5rem 0.3rem 0.5rem;
				margin:0.5rem;
			}
		}

		.place-about-container{
			padding:1.2rem;
			font-size:1rem;
		}

		.place-contact-container{
			padding:1.2rem;
			font-size:1rem;
		}
	}
}

.blog-section{
	background-color:pink;
	.preview-post-wall{
		background-color:pink;
		.post-preview-card{
			background-color:white;
			h4{
				font-size:1.3rem;
			}
		}
	}
}

.form-section{
	background-color:#ef6363;
	.appform-header{
		background-color:#ef6363;
		color:#333333;
		margin:0;
		padding:0;
		.appform-header-title{
			font-size:2.5rem;
		}
		.appform-header-subtext{
			font-size:1.4rem;
		}
	}

	.form-container{
		background-color:#ef6363;
	}

	.appform-container{
		border: 1px solid black;
	}
}

@media (min-width: 768px) {
	.front-page-container{
		.about-section{
			.about-title{
				font-size:3rem;
			}
			.about-text{
				font-size:1.8rem;
			}
		}
	}	
}

@media (min-width: 992px) {
	.form-section{
		.appform-header{
			.appform-header-title{
				font-size:3.5rem;
			}
			.appform-header-subtext{
				font-size:1.4rem;
			}
		}
	}
}

@media (min-width: 1200px) {
	.front-page-container{
		.about-section{
			background-size: auto 100%;
		}
	}

	.form-section{
		background-color:#2A272A;
	}
}